body {
    background-image: url("background.jpeg");
    background-size:cover;
    font-family: Arial;
    font-size: 17px;

}

body {margin:0;}

.navbar {
    overflow: hidden;
    background-color: #464647;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: auto;
}
footer {
    background-color: #464647;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
}


* {
    box-sizing: border-box;
}


.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.container img {vertical-align: auto;}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width:auto;
    padding: 7px;
}