body {
    background-color: #d8d6d6;
    background-size:cover;
    font-family: Arial;
    font-size: 17px;

}

body {margin:0;}

.navbar {
    overflow: hidden;
    background-color: #8c8e91;
    position: revert;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: flex;
    color: #000000;
    padding: 34px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: auto;
}
footer {
    background-color: #222323;
    padding: 5px;
    text-align: center;
    color: #000000;
    position: revert;
    bottom: 0%;
    width: 100%;
}


* {
    box-sizing: border-box;
}


.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.container img {vertical-align: auto;}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 7px;
    width: 100%;
    bottom:0;
    font-size:20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#pr{
    float:left;
    margin: 4px;
    border-radius: 6px;
    padding: 20px;
}
#my{
    font-family: Arial, sans-serif;
    font-size: 25px;
    opacity: 0.9;

}

